[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RWDataPlyr"]
	path = RWDataPlyr
	url = https://github.com/bouldercodehub/rwdataplyr
